%body
  #page
    %header#header.site-header
      = render "header"


    %main#main.site-main
      %section#carousel-1.carousel.slide.section-slide{"data-ride" => "carousel"}
        .carousel-inner
          .item.active{:style => "background: url(assets/background/solarhome.jpg); background-size:cover;"}
            .container
              .main_content.pt10.pb40.col-sm-8.col-sm-offset-2
                %h1.section-title
                  %span Savings over time
                %h2
                  %span
                    %span.fa.fa-money
                    Show savings here


      %section.section.section-center.section-cta.pt10.pb20
        .container


    %footer#footer.site-footer.mt100
      = render "footer"



